.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Data/*
Results/*
Process_data/*
Genoms_informations/*
Fastqc/*
multiqc_data/*
multiqc_data_1/*
Fastqc_trim/*
Trim/*
Mapping/*
Peakcalling/*
Annotations/*
.nearest.genes.txt*
Peakcalling/files/*

Mapping/*
